/* Slider */
.slider-wrapper {
  padding: 0 20px;
  width: 320px;
  position: absolute;
  transform: rotate(-90deg);
  height: 116px;
  right: -9rem;
  top: calc(50% - 49px);
  transform-origin: center;
}

@media screen and (max-width: 996px) {
  .slider-wrapper {
    position: static;
    transform: rotate(0);
    margin: 0 auto;
  }
}

.slider {
  height: 1.5px;
  width: 100%;
  background: #000;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  -webkit-appearance: none;
  transform: rotate(180deg);
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 30px;
  box-shadow: 1px 0px 2px 1px #3339;
  background: #cecece;
  cursor: pointer;
}

/* Dropdown Menu */
.dropdown {
  padding: 20px;
  position: relative;
  display: inline-block;
  margin-left: 20px;
}

.dropdown p {
  color: #333;
}

.dropdown-anchor {
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  top: 60px;
  left: -12px;
  background-color: white;
  box-shadow: 0 4px 8px 1px rgb(0 0 0 / 19%);
  padding: 30px 60px;
  display: none;
  z-index: 100;
  min-width: 445px;
}

.dropdown-content.right {
  left: auto;
  right: -12px;
}

.dropdown-content.large {
  min-width: 638px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.menu-item {
  display: flex;
  align-items: flex-start;
}

.disabled {
  opacity: 0.5;
}

.disabled a {
  cursor: not-allowed;
}

.menu-item img {
  width: 44px;
  height: auto;
  margin-top: 6px;
  flex-shrink: 0;
}

.menu-item img.small {
  width: 38px;
}

.menu-item img.large {
  width: 50px;
}

.menu-item-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.menu-item-column .icon-wrapper {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-item-column .icon-wrapper img {
  width: 50px;
  height: auto;
}

.menu-item-column p:nth-child(2) {
  font-weight: bold;
  margin-bottom: 4px;
}

.menu-item-column p:nth-child(3) {
  font-size: 14px;
  line-height: 18px;
  color: #666;
}

.menu-item-content {
  padding: 0 20px;
}

.menu-item img.small ~ div {
  padding-left: 26px;
}

.menu-item img.large ~ div {
  padding-left: 14px;
}

.menu-item-content p:first-child, .menu-item-content a {
  font-weight: bold;
  margin-bottom: 4px;
}

.menu-item-content p:last-child {
  font-size: 14px;
  line-height: 18px;
  color: #666;
}

.menu-item-content a {
  cursor: pointer;
  text-decoration: none;
}

.infrastructure .layers {
  width: 152px;
  height: 162px;
  margin-right: 30px;
  flex-shrink: 0;
}

.infrastructure h4 span {
  font-weight: 100;
}

.infrastructure h4 {
  font-size: 28px;
}

.infrastructure p {
  font-size: 14px;
}

.infrastructure a {
  font-size: 13px;
  color: #555;
  margin-right: 12px;
}

.infrastructure .arrow-icon {
  width: 20px;
}

.menu-item-column img.large {
  width: 70px !important;
}

.mobile-dropdown {
  cursor: pointer;
  position: relative;
  padding: 6px 0 6px 12px;
}

.mobile-dropdown-content {
  display: none;
  flex-direction: column;
  box-shadow: 0 4px 8px 1px rgb(0 0 0 / 19%);
  background-color: white;
  z-index: 10;
  position: absolute;
  top: 100%;
  right: 0;
  padding: 10px 20px;
}

.mobile-dropdown-content a {
  font-size: 13px;
  margin: 4px 0;
  color: #555;
  white-space: nowrap;
}

.mobile-dropdown:hover .mobile-dropdown-content {
  display: flex;
}
