:root{
    --primary: #0d6efd;
    --pink: #a0138e;
    --gray: #eff1f2;
    --bs-success-rgb: 14, 209, 69;
    --bs-warning-rgb: 250, 244, 148;
    --bs-danger-rgb: 243, 143, 111;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }
}

@media screen and (max-width: 576px) {
    html {
        font-size: 12px;
    }
}

main {
    overflow: hidden;
}

/* Typography */
h1 {
    font-size: 7.5rem;
    line-height: 7.125rem;
    font-weight: 700;
    letter-spacing: -2px;
}

h2 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4.25rem;
}

h3 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.5rem;
}

h4 {
    font-size: 2.375rem;
    font-weight: 700;
    line-height: 2.75rem;
}

h5 {
    font-size: 1.5rem;
    line-height: 1.625rem;
    font-weight: 700;
}

@media screen and (max-width: 992px) {
    h1 {
        font-size: 5.5rem;
        line-height: 5.125rem;
    }
}

@media screen and (max-width: 576px) {
    h1 {
        font-size: 3.5rem;
        line-height: 3.125rem;
    }
}

p {
    letter-spacing: -0.5px;
}

p.extra-large {
    font-size: 2.875rem;
    line-height: 3.5rem;
}

p.large {
    font-size: 1.625rem;
    line-height: 2rem;
}

p.middle {
    font-size: 1.375rem;
    line-height: 1.625rem;
}

p.medium {
    font-size: 1.125rem;
    line-height: 1.5rem;
}

p.extra-small {
    font-size: 0.875rem;
    line-height: 1.1rem;
}

p.primary {
    color: #0057e1;
}

a {
    color: #000;
}

a:hover {
    color: #000;
    cursor: pointer;
    text-decoration: none;
}

.divider {
    border-bottom: 1px solid #ccc;
    width: 100%;
    max-width: 600px;
}

.bg-gradient {
    background-image: radial-gradient(circle at 94.35384114583333% 89.61588541666666%, #F3A78F 0%, rgba(243,167,143,0) 40%),
    radial-gradient(circle at 6.503906249999999% 88.037109375%, rgba(0,87,225,0.99) 0%, rgba(0,87,225,0) 50%),
    radial-gradient(circle at 6.165364583333333% 12.617187499999998%, #ED5829 0%, rgba(237,88,41,0) 70%),
    radial-gradient(circle at 93.6865234375% 11.42578125%, #8015E8 0%, rgba(128,21,232,0) 70%),
    radial-gradient(circle at 48.9013671875% 49.521484375%, #FFFFFF 0%, rgba(255,255,255,0) 100%) !important;
}

.bg-gray {
    background-color: rgb(252, 252, 252);
}

.border-right {
    border-right: 1px solid #ececec;
}

.border-bottom {
    border-bottom: 1px solid #ececec;
}

button {
    color: white;
    border: none;
    transition: 0.3s;
    box-shadow: 0 1px 4px rgba(0,0,0,.6);
}

button:hover {
    cursor: pointer;
    background-color: #333 !important;
}

button.xs {
    font-size: 10px;
    border-radius: 12px;
    padding: 5px 16px;
}

button.sm {
    font-size: 12px;
    border-radius: 18px;
    padding: 5px 18px;
}

button.md {
    font-size: 12px;
    border-radius: 18px;
    padding: 8px 22px;
}

button.lg {
    font-size: 16px;
    border-radius: 14px;
    padding: 12px 30px;
}

button.primary {
    background-color: #0057e1;
}

button.primary.outline {
    background-color: white;
    color: #0057e1;
    border: 1px solid #0057e1;
    box-shadow: none;
    width: fit-content;
}

button.error {
    background-color: #ed5829;
}

button.gray {
    background-color: #595959;
}

button.success {
    background-color: #1bb82e;
}

.text-underline {
    text-decoration: underline;
}

.text-default {
    color: #5a5d5a;
}
