/* Layout */
section, .section {
  padding: 120px 0;
}

@media screen and (max-width: 768px) {
  section {
    padding: 60px 20px !important;
  }
}

@media screen and (max-width: 576px) {
  section {
    padding: 40px 16px !important;
  }
}

/* Hero Section */
.section1 {
  padding-bottom: 100px;
}

.section1 .description {
  max-width: 860px;
}

.section1 h1 {
  max-width: 1000px;
}

.section1 .go-version {
  font-size: 1.3rem;
  color: #00a113;
  cursor: pointer;
  letter-spacing: -1px;
}

.section1 .go-version svg {
  width: 1.5rem;
  margin-left: 12px;
  fill: #00a113;
}

@media screen and (max-width: 992px) {
}

/*Section2*/
.section2 {
  padding: 60px 0;
}

.section2 .container {
  max-width: 1210px;
}

.section2 .label {
  font-size: 12px;
  font-family: 'Inter Bold';
  letter-spacing: -0.4px;
  margin-top: 6px;
}

.section2 .comment {
  font-size: 9px;
  color: #555;
  letter-spacing: -0.4px;
}

.section2 img, .section2 svg {
  width: 100%;
  height: auto;
}

.section2 .icon-wrapper {
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
}

.section2 .icon-wrapper.small {
  width: 42px;
}

/*Section3*/
.section3 {
  padding-bottom: 160px;
}

.section3 .header h4 {
  max-width: 900px;
}

.section3 .header p:nth-child(3) {
  max-width: 596px;
}

.section3 .header p:nth-child(4) {
  max-width: 797px;
}

.section3 p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: #555;
  letter-spacing: -0.2px;
}

.section3 a {
  font-weight: 300;
  font-size: 0.9rem;
  color: #555;
}

.section3-5 h3 {
  max-width: 500px;
}

.section3-5 .codes {
  max-width: 688px;
  width: 817px;
  height: 479px;
  position: relative; 
}

@media screen and (max-width: 768px) {
  .section3-5 .codes {
    width: 720px;
  }
}

@media screen and (max-width: 576px) {
  .section3-5 .codes {
    width: 95vw;
  }
}

.section3-5 .codes img {
  width: 100%;
  height: auto;
}

.section3-5 .codes #stream-wrapper {
  display: flex;
  flex-direction: column;
  background-color: #252525;
  left: 0;
  color: #666666;
  width: 100%;
  height: 479px;
  max-height: 430px;
  position: fixed;
  padding: 16px;
  overflow: hidden;
  border-radius: 8px;
}

.section3-5 .codes #stream-wrapper .stream-item {
  word-break: break-all;
  white-space: break-spaces;
}

.section3-5 .info {
  margin-top: 6.25rem;
  margin-bottom: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.section3-5 .info-card {
  padding: 0.5rem 1.25rem 1rem;
  border-right: 1px solid #ccc;
  width: 20%;
}

.section3-5 .info-card h4 {
  font-size: 2rem;
  line-height: 2.125rem;
  white-space: nowrap;
	margin-bottom: 0.5rem!important;
}

.section3-5 .info-card p {
  font-size: 1rem;
  font-weight: 300;
  font-family: "Inter Thin";
}

.section3-5 .info .info-card:last-child {
  border-right: none;
}

.section3-5 .dot {
  width: 1.5px;
  height: 1.5px;
  border-radius: 50%;
  background-color: #555;
}

.section3-5 .slider-wrapper .labels {
  height: 270px;
}

.section3-5 .slider-wrapper .labels span {
  writing-mode: vertical-rl;
  font-size: 12px;
  color: #555;
}

.section3-5 .code-image-wrapper {
  position: relative;
  padding-right: 7rem;
  margin-left: -20px;
}

@media screen and (max-width: 1200px) {
  .section3-5 .info-card {
    width: 30%;
    border: none;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 996px) {
  .section3-5 .code-image-wrapper {
    padding-right: 0;
    margin-left: 0;
  }

  .section3-5 .slider-wrapper .labels span {
    writing-mode: horizontal-tb;
  }
}

@media screen and (max-width: 768px) {
  .section3-5 .info-card {
    width: 100%;
    max-width: 200px;
    margin-bottom: 0rem!important;
  }

  .section3-5 .info {
    margin-top: 3rem;
  }
}

.section3-6 .header {
  max-width: 950px;
  text-align: center;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.section3-6 .product-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 0 22px;
  margin-bottom: 20px;
}

.section3-6 .product-item .image-wrapper {
  min-height: 106px;
}

.section3-6 .product-item .image-wrapper img {
  width: 5.714rem;
  height: 5.714rem;
}

.section3-6 .product-item .content {
  max-width: 196px;
}

.section3-6 .product-item .content p {
  margin: 16px auto 0;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .section3-6 .border-right {
    border: none;
  }
}

/* Section 4 */
.section4 .header {
  max-width: 1000px;
  padding-left: 97px;
}

.section4 .factory-image {
  width: 100%;
  height: auto;
}

.section4 a {
  text-decoration: underline !important;
}

.section4 .items {
  margin: 8.75rem -2.142rem!important;
}

.section4 .item {
  display: flex;
  flex-direction: column;
  max-width: 505px;
  margin: 0 auto;
}

.section4 .item-large {
  max-width: 638px;
  padding-right: 92px;
}

.section4 img.large {
  width: 110px !important;
}

.section4 .item h4 {
  font-size: 1.875rem;
}

.section4 .item-column {
  text-align: center;
  max-width: 212px;
  padding-right: 32px;
  margin: 0 auto 40px;
}

.section4 .item-column p:nth-child(2) {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 5px;
  line-height: 110%;
  font-family: "Inter Bold";
}

.section4 .item-column p:nth-child(3) {
  font-size: 1.142rem;
  padding: 0 1rem;
  font-weight: 300;
  line-height: 130%;
}

.section4 .item-column .icon-wrapper {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section4 .item-large .item-column {
  padding-right: 0;
}

.item-column .icon-wrapper img {
  width: 76px;
  height: auto;
}

.section4 .special {
  margin-left: -1.25rem !important;
}

.section4 .item .content {
  flex: 1;
}

.section4 .image-wrapper {
  height: 100px;
}

.section4 .item .image-wrapper img {
  width: 82px;
  height: auto;
  margin-left: -1.25rem;
}

.section4 .item .arrow-icon {
  width: 2rem;
}

.section4 .middle {
  max-width: 768px;
  line-height: 128%;
}

.section4 .infrastructure h5 {
  font-size: 1.714rem;
  margin-bottom: 22px;
}

.section4 .infrastructure span {
  font-weight: 200;
}

@media screen and (max-width: 768px) {
  .section4 .header, .section4 .custom-header {
    padding-left: 0!important;
  }

  .section4 .items {
    margin: 4.75rem -1rem 0;
  }

  .section4 .item-column {
    padding-right: 0;
  }

  .section4 .infrastructure {
    flex-wrap: wrap;
  }

  .section4 .border-right {
    border: none;
  }

  .section4 .image-wrapper {
    height: 80px;
  }

  .section4 .item .image-wrapper img {
    width: 64px;
  }

  .section4 .item-large {
    padding-right: 0;
  }
}

/*Section 5*/
.section5 .header {
  max-width: 700px;
  margin: 0 auto;
}

.section5 .header span {
  font-weight: 300;
}

.section5 .large {
  font-weight: 300;
  letter-spacing: 0.5px;
}

.section5 .content {
  max-width: 1127px;
  width: 100%;
  margin: 0 auto;
}

.section5 .content .divider {
  max-width: 44%;
  border-color: #ccc7;
}

.section5 .governance-card-wrapper {
  width: 50%;
  position: relative;
}

.section5 .content .governance-card-wrapper:first-child {
  padding-right: 5.5rem;
}

.section5 .content .governance-card-wrapper:first-child:after {
  position: absolute;
  content: "";
  height: 98%;
  border-right: 1px solid #ccc7;
  top: 0;
  right: 0;
}

.section5 .content .governance-card-wrapper:last-child {
  padding-left: 6.5rem;
}

.section5 .content:last-child .governance-card-wrapper:first-child:after {
  bottom: 0;
  top: auto;
}

.section5 .governance-card {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.section5 .governance-card img {
  width: 64px;
  margin-bottom: 6px;
  opacity: 0.7;
}

.section5 .governance-card p {
  font-size: 1.1rem;
  line-height: 1.5rem;
}

.section5 .governance-card .arrow-icon {
  width: 2rem;
}

@media screen and (max-width: 576px) {
  .section5 .divider {
    display: none;
  }

  .section5 .governance-card-wrapper {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .section5 .governance-card {
    padding: 0;
    margin-bottom: 64px;
	  border-bottom: none!important;
  }

  .section5 .governance-card-wrapper:after {
    display: none;
  }
	
	.section11 .comment {
    max-width: 100%!important;
  }
}

/* Section  6*/
.section6 {
  padding-bottom: 0;
}

.section6 .header {
  max-width: 900px;
  margin: 0 auto 12rem;
}

.section6 h2 {
  font-size: 4rem;
  letter-spacing: -2px;
}

.section6 h4 {
  font-size: 2.5rem;
}

.section6 h5 {
  font-size: 1.75rem;
  line-height: 2rem;
  width: 100px;
  min-height: 6.25rem;
}

.section6 img {
  width: 30px!important;
  max-width: 30px!important;
  height: 30px!important;
}

.section6 .description {
  max-width: 230px;
  font-size: 1.142rem;
  line-height: 1.5rem;
}

.section6 .group {
  margin-left: 48px!important;
  margin-right: -84px!important;
}

@media screen and (max-width: 768px) {
  .section6 .group {
    margin-left: -12px!important;
    margin-right: -12px!important;
  }
}

/*Section 8*/
.section8 {
  padding-bottom: 14rem;
}

.section8 img {
  width: 196px;
  height: auto;
}

.section8 .header {
  margin-bottom: 6.5rem;
}

.section8 .description {
  max-width: 800px;
  margin: 0 auto;
}

.section8 .middle {
  font-size: 1.428rem;
  max-width: 800px;
  margin: 0 auto;
}

.section8 .content {
  max-width: 900px;
  margin: 0 auto;
}

.section8 .image-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70px;
}

.section8 .content p {
  max-width: 200px;
}

@media screen and (max-width: 576px) {
  .section8 .header {
    margin-bottom: 3.5rem;
  }
}

.section9 {
  padding-bottom: 14rem;
}

.section9 .left {
  flex-basis: 685px!important;
  flex-grow: 0!important;
  padding-right: 100px;
  flex: 1;
}

.section9 .right {
  width: fit-content;
}

/* .section9 p.extra-large {
  width: 60%;
} */
.section9 .right img {
  width: 100%;
  height: auto;
  max-width: 430px;
}

.section9 .content {
  display: flex;
  max-width: 1115px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .section9 .content {
    flex-direction: column;
  }

  .section9 .left {
    padding-right: 0;
    margin-bottom: 3rem;
  }

  .section9 .right {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }
}

.section10 .left {
}

.section10 .left img {
  width: 100%;
  max-width: 630px;
}

.section10 .right {
  width: 45%;
  padding-left: 60px;
  padding-top: 80px;
}

.section10 .right .middle {
  font-size: 1.574rem;
  line-height: 140%;
  margin-bottom: 4rem;
}

.section10 .content {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (max-width: 1200px) {
  .section10 .right {
    width: 100%;
    padding-left: 0;
  }

  .section10 .left {
    width: 100%;
    max-width: 600px;
    margin: 0 auto 40px;
  }
}

.section11 .header {
  max-width: 800px;
  margin: 0 auto 5rem;
}

.section11 .content {
  max-width: 1098px;
  margin: 0 auto;
}

.section11 img {
  width: 100%;
  height: auto;
}

.section11 .comment {
  max-width: 200px;
  margin: 2rem auto 0;
  text-align: center;
}

.section11 .description {
  letter-spacing: 0.5px;
}

.section12 {
  border-bottom: 1px solid #eee;
}

.section12 .header {
  max-width: 1080px;
  margin: 0 auto;
}

.section12 .header h2 {
  font-size: 4rem;
  line-height: 130%;
}

.section12 .header h2 span {
  font-weight: 100;
}

.section12 .header .description {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 300;
  font-family: 'Inter Thin';
}

.section12 .content {
  display: flex;
  flex-wrap: wrap;
  max-width: 1018px;
  margin: 8rem auto 0;
}

.section12 .left {
  width: 44%;
  /* padding-right: 7rem; */
}

.section12 .right {
  width: 55%;
  display: flex;
}

.section12 .solution-card {
  /* width: 50%; */
  /* margin: 0 0 2rem 3rem; */
  background-color: rgb(252, 252, 252);
  padding: 3rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px 2px #3331;
}

.section12 .solution-card h6 {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  letter-spacing: -0.1px;
  font-family: "Inter Bold";
  line-height: 104%;
}

.section12 .solution-card p {
  flex: 1;
  font-size: 13px;
  color: #555;
  margin-bottom: 36px;
}

.arrow-icon {
  width: 2rem;
}

.arrow-icon.small {
  width: 1.42rem;
}

@media screen and (max-width: 992px) {
  .section12 .content {
    margin-top: 5rem;
  }

  .section12 .left {
    width: 100%;
    margin-bottom: 2rem;
    padding-right: 0;
  }

  .section12 .right {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .section12 .solution-card {
    width: 100%;
    margin: 0 1.5rem 2rem;
  }

  .section12 .right {
    flex-wrap: wrap;
  }
  .section12 .custom-header .p-header .uagb-heading-text,
  .section12 .custom-header .p-header .uagb-heading-text strong {
    font-size: 2.7rem!important;
    line-height: 3rem!important;
    letter-spacing: -0.5px!important;
}
}


@media (max-width: 781px){
  .wp-block-columns:not(.is-not-stacked-on-mobile)>.wp-block-column {
      flex-basis: auto!important;
  }
  body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
    margin-left: 0!important;
    margin-right: 0!important;
  }
  .d-xs-none {
    display: none;
  }
}

.section12-5 h4 {
  letter-spacing: -1.5px;
}

.section12-5 .posts-wrapper {
  max-width: 1254px;
  margin: 0 auto;
}

.section12-5 button.primary.lg {
  border-radius: 15px;
  font-size: 13px;
  padding: 10px 12px;
}

.section13 .content {
  border-top: 1px solid #ccc;
}

.section13 .explore-card {
  border-top: 1px solid #ccc;
  padding-top: 0.75rem;
  padding-bottom: 3rem;
  display: flex;
  flex-direction: column;
}

.section13 .explore-card h6 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 1.5rem 0;
}

.section13 .explore-card p {
  margin-bottom: 1rem;
  flex: 1;
}

@media screen and (min-width: 1200px) {
  .section13 .row {
    margin-left: -2rem !important;
    margin-right: -2rem !important;
  }

  .section13 .col-md-4 {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
  }
}

.section12-5 .update-card {
  display: flex;
  flex-direction: column;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
  box-shadow: 0 0 8px 1px #3332;
  margin: 0 24px;
  height: 100%;
}

.section12-5 .update-card .title {
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 1rem;
}

.section12-5 .update-card .title a {
  font-family: 'Inter Medium';
  letter-spacing: -0.2px;
}

.section12-5 .update-card .image-wrapper {
  height: 220px;
  overflow: hidden;
}

.section12-5 .more-updates {
  margin: 2rem 0 9rem;
}

@media screen and (max-width: 768px) {
  .section12-5 .more-updates {
    margin: 50px 0;
  }
}

.update-card .image-wrapper img {
  width: 100%;
  height: auto;
}

.exchange-time {
  color: white;
}

.exchange-size {
  color: #417680;
}

.exchange-first-symbol {
  color: #928495;
}

.exchange-second-symbol {
  color: #9EA288;
}

.exchange-text {
  color: #7B8AA6;
}

.stream-item:last-child::after {
  content: "";
  display: inline-block;
  position: relative;
  top: 4px;
  left: 2px;
  width: 8px;
  height: 14px;
  background-color: white;
  animation: blink 0.5s step-end infinite;
}

.endless-title {
  letter-spacing: -0.214rem;
  line-height: 3.214rem;
}

@keyframes blink {
  from, to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}


/*.stream-item {*/
/*  display: flex !important;*/
/*  overflow: hidden;*/
/*  white-space: nowrap;*/
/*  width: 0;*/
/*  animation: typing 1.5s steps(30, end) forwards;*/
/*}*/

/*@keyframes typing {*/
/*  from { width: 0 }*/
/*  to { width: 100% }*/
/*}*/


/* WP UPDATE CSS */
.section2 .icon-wrapper.small img {
  width: 148px;
}

.section2 .label, .section2 .label p.uagb-heading-text {
  margin-bottom: 0!important;
}


.section3 .custom-header h4 {
  max-width: 900px;
}

.section3 .custom-header p.middle1 {
  max-width: 596px;
}

.section3 .custom-header p.middle2 {
  max-width: 797px;
}


.section3-5 .info-card p {
  font-size: 1.1rem;
}

.section3-5 .info-card h4 {
  font-size: 2.1rem;
  line-height: 2.225rem;
}

.section3-6 .custom-header {
  max-width: 950px!important;
	margin-bottom: 100px;
}

.section4 .container .custom-header {
  max-width: 1000px;
  padding-left: 97px;
  margin-left: 0px!important;
}

.section4 .middle {
  max-width: 1000px;
}

.section4 .wp-block-uagb-image__figure {
  display: block;
}

.section4 .wp-block-uagb-image__figure img {
  width: 100%;
}


.section4 .item-column .icon-wrapper img, 
.section4 .icon-wrapper img {
  width: 76px!important;
  height: auto;
}

.section4 .item .wp-block-columns {
  margin-left: 0!important;
  margin-right: 0!important;
}

.section4 h4.uagb-heading-text {
  margin-bottom: 0px!important;
}

.section4 .infrastructure .uagb-heading-text {
  font-size: 1.714rem;
  margin-bottom: 22px;
}

.section4 .infrastructure .wp-block-media-text__content{
  padding-right: 0!important;
}

.section6 .content-header {
  max-width: 900px;
  margin: 0 auto 12rem;
}

.section6 h5 {
  font-size: 1.75rem;
  line-height: 2rem;
  width: 150px;
  min-height: 6.25rem;
}

.section6 .wp-block-columns {
  display: flex;
  gap: 0!important;
}
.section6 .wp-block-columns.flex-icon-wrapper .wp-block-column {
  flex-basis: 45px!important;
  flex-grow: 0;
}

.section6 .api-wrapper .wp-block-columns {
  margin-bottom: 0px!important;
}
.section6 .api-wrapper .wp-block-columns .wp-block-column:nth-child(1) {
  flex-basis: 55px!important;
  flex-grow: 0;
}
.section6 .api-wrapper .wp-block-columns .wp-block-column p{
  line-height: 2;
}

.section8 .custom-header {
  margin-bottom: 6.5rem;
}
.section8 .content p.has-text-align-center  {
  text-align: center;
  margin: 0 auto;
}


.section5 .custom-header .p-header .uagb-heading-text {
  font-family: "Inter Light";
  font-size: 3.3rem;
  line-height: 4.25rem;
  letter-spacing: -2px;
  font-weight: 300;
}

.section5 .custom-header .p-header .uagb-heading-text strong {
  font-family: "Inter Bold"!important;
}


.section5 .custom-header {
  max-width: 700px;
  margin: 0 auto;
}

.section5 .governance-card p {
  margin-bottom: 1rem;
}

.section11 .custom-header {
  max-width: 800px;
  margin: 0 auto 5rem;
}

.section11 .primary.lg a, .section11 .gray.lg a {
  font-size: 12px;
  border-radius: 12px;
  padding: 12px 28px;
  min-width: 164px;
}

.section12 .custom-header {
  max-width: 1080px;
  margin: 0 auto;
}

.section12 .custom-header .p-header .uagb-heading-text strong {
  font-size: 4rem;
  line-height: 130%;
  font-family: "Inter Bold";
  letter-spacing: -2px;
}


.section12 .custom-header .p-header .uagb-heading-text {
  font-size: 4rem;
  line-height: 130%;
  font-family: "Inter Thin";
  letter-spacing: -2px;
}

.section12 .custom-header .description {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 300;
  font-family: 'Inter Thin';
}

.section12 p.normal {
  width: 350px;
}
.section12 p.uagb-heading-text {
  margin-bottom: 0px!important;
}

.uagb-heading-text {
  margin-bottom: 1rem!important;
}


.section3 .wp-block-read-more {
  text-decoration: underline;
}

.section1 .go-version {
  margin: 0 auto!important;
}
